@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --layout-margin: minmax(1.5rem, 1fr);
  --layout-content: minmax(0, 1200px);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  display: grid;
  grid-template-columns: var(--layout-margin) var(--layout-content) var(
      --layout-margin
    );
  grid-template-rows: auto 1fr auto;

  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100svh;

  > header,
  > main,
  > footer {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-content: start;

    > * {
      grid-column: 2;
    }
    > .full-bleed {
      grid-column: 1 / -1;
    }
  }
}
